/*base style*/
* {
  box-sizing: border-box;
}

#container {
  background-color: #9A9595;
  font-family: Helvetica;
  color: black;
  position: relative;
  border: 1px solid black;
  margin: 10px;
}

h1 {
  text-align: center;
}

h2 {
  position: relative;
  text-align: right;
  top: 0;
  background-color: #C66D6D;
  border: 1px solid black;
  margin: 0;
  float: right;
  padding:3px;
}

h2#chicken {
  background-color: #E99595;
}

h2#beef {
  background-color: #F63A3A;
  color: white;
}

h2#sushi {
  background-color: #EBDFA5;
}
p {
  padding: 10px;
  clear: right;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** desktop view **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }

  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}